<?xml version='1.0' encoding='utf-8'?>
        <!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD//EN"
                "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property
                name="connection.url">jdbc:mysql://localhost:3306/ESDProject?createDatabaseIfNotExist=true&amp;useSSL=false
            </property>
        <property name="connection.username">rupen</property>
        <property name="connection.password">MY@sql93</property>
        <property
                name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.example.alumniupdate.bean.Alumni"/>
        <mapping class="com.example.alumniupdate.bean.Alumni_education"/>
        <mapping class="com.example.alumniupdate.bean.Alumni_Organisation"/>
        <mapping class="com.example.alumniupdate.bean.Organisation"/>
    </session-factory>
</hibernate-configuration>
